.table1{
	border-collapse: separate;
	border-spacing: 10px;
}
.table2{
	text-align: center;
	width: 150px;
	height: 150px;
	border:1px solid black;
	-webkit-transition: border .1s;
	transition: .1s;
}
.table2:hover {
		border-color: orange;
}
.name{
	color: orange;
	height: 20px;
	-webkit-transition: text.1s;
	transition: .1s;
}
.name:hover {
	color: blue;
}
.price{
	color: red;
	height: 20px;
	font-weight: bold;
	-webkit-transition: text .1s;
	transition: .1s
}
.price:hover {
	color: green;
}
.img{
	vertical-align: top;
}
